body {
	font-size: 16px;
	color: #fff;
	background-color: white;
	font-family: 'Comic Sans', sans-serif;
}

/**HEADER**/

#header-nav {
	background-color: gray;
	border-radius: 0;
	border; 0;
}

